### Imports

In [1]:
import pandas as pd
import csv
import matplotlib as plt
from sklearn.linear_model import LinearRegression

### Importing csv file

In [2]:
allstate_df = pd.read_csv("allstatedata.csv", index_col="fips")
allstate_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 56
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   state                    50 non-null     object
 1   state_exp                50 non-null     object
 2   dataYear                 50 non-null     int64
 3   reIncarcerationRate      50 non-null     object
 4   reIncarcerationRate2018  42 non-null     float64
 5    Employment              50 non-null     float64
 6    Homeownership           50 non-null     float64
 7    Livable Income          50 non-null     float64
 8    Postsecondary Edu       50 non-null     float64
 9    Youth                   50 non-null     float64
 10   Affordable Housing      50 non-null     float64
dtypes: float64(7), int64(1), object(3)
memory usage: 4.7+ KB

### Removing Null Values

In [3]:
nonnull_allstate_df = allstate_df.dropna()
nonnull_allstate_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42 entries, 1 to 56
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   state                    42 non-null     object
 1   state_exp                42 non-null     object
 2   dataYear                 42 non-null     int64
 3   reIncarcerationRate      42 non-null     object
 4   reIncarcerationRate2018  42 non-null     float64
 5    Employment              42 non-null     float64
 6    Homeownership           42 non-null     float64
 7    Livable Income          42 non-null     float64
 8    Postsecondary Edu       42 non-null     float64
 9    Youth                   42 non-null     float64
 10   Affordable Housing      42 non-null     float64
dtypes: float64(7), int64(1), object(3)
memory usage: 3.9+ KB

### Converting reIncarcerationRate to numeric

In [5]:
nonnull_allstate_df[["reIncarcerationRate"]] = nonnull_allstate_df[["reIncarcerationRate"]].apply(pd.to_numeric)
nonnull_allstate_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42 entries, 1 to 56
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   state                    42 non-null     object
 1   state_exp                42 non-null     object
 2   dataYear                 42 non-null     int64
 3   reIncarcerationRate      42 non-null     float64
 4   reIncarcerationRate2018  42 non-null     float64
 5    Employment              42 non-null     float64
 6    Homeownership           42 non-null     float64
 7    Livable Income          42 non-null     float64
 8    Postsecondary Edu       42 non-null     float64
 9    Youth                   42 non-null     float64
 10   Affordable Housing      42 non-null     float64
dtypes: float64(8), int64(1), object(2)
memory usage: 3.9+ KB

C:\Users\jenve\AppData\Local\Temp\ipykernel_16852\3510883376.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nonnull_allstate_df[["reIncarcerationRate"]] = nonnull_allstate_df[["reIncarcerationRate"]].apply(pd.to_numeric)

### Getting description of dataframe

In [6]:
nonnull_allstate_df.describe()

,dataYear,reIncarcerationRate,reIncarcerationRate2018,Employment,Homeownership,Livable Income,Postsecondary Edu,Youth,Affordable Housing
count,42.0,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000
mean,2021.0,36.695238,36.635714,0.938595,0.686667,0.629452,0.600476,0.878810,0.722238
std,0.0,9.479167,10.504629,0.013427,0.040256,0.061451,0.052237,0.027369,0.045393
min,2021.0,21.000000,21.000000,0.914000,0.547000,0.504000,0.454000,0.825000,0.613000
25%,2021.0,29.750000,28.900000,0.928000,0.672500,0.580500,0.571000,0.856750,0.696250
50%,2021.0,36.550000,34.050000,0.937500,0.692000,0.635000,0.608000,0.879500,0.725500
75%,2021.0,42.625000,42.925000,0.949000,0.711250,0.677250,0.642500,0.897750,0.751750
max,2021.0,61.600000,64.500000,0.973000,0.744000,0.730000,0.696000,0.925000,0.805000

### Renaming Column and dropping dataYear column

In [10]:
nonnull_allstate_df = nonnull_allstate_df.rename(columns = {"reIncarcerationRate" : "reIncarcerationRate2021"})
nonnull_allstate_df = nonnull_allstate_df.drop(["dataYear"], axis=1)
nonnull_allstate_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42 entries, 1 to 56
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   state                    42 non-null     object
 1   state_exp                42 non-null     object
 2   reIncarcerationRate2021  42 non-null     float64
 3   reIncarcerationRate2018  42 non-null     float64
 4    Employment              42 non-null     float64
 5    Homeownership           42 non-null     float64
 6    Livable Income          42 non-null     float64
 7    Postsecondary Edu       42 non-null     float64
 8    Youth                   42 non-null     float64
 9    Affordable Housing      42 non-null     float64
dtypes: float64(8), object(2)
memory usage: 3.6+ KB

### Testing for Correlation

In [11]:
nonnull_allstate_df.corr(numeric_only=True)

,reIncarcerationRate2021,reIncarcerationRate2018,Employment,Homeownership,Livable Income,Postsecondary Edu,Youth,Affordable Housing
reIncarcerationRate2021,1.000000,0.902558,0.036815,0.039509,0.205198,0.066236,-0.017029,-0.012428
reIncarcerationRate2018,0.902558,1.000000,0.062944,-0.009909,0.165150,0.062627,-0.069692,-0.032094
Employment,0.036815,0.062944,1.000000,0.371150,0.461972,0.486552,0.766202,0.453664
Homeownership,0.039509,-0.009909,0.371150,1.000000,-0.051059,-0.092202,0.175290,0.639590
Livable Income,0.205198,0.165150,0.461972,-0.051059,1.000000,0.757490,0.750938,-0.250503
Postsecondary Edu,0.066236,0.062627,0.486552,-0.092202,0.757490,1.000000,0.690099,-0.198169
Youth,-0.017029,-0.069692,0.766202,0.175290,0.750938,0.690099,1.000000,0.027738
Affordable Housing,-0.012428,-0.032094,0.453664,0.639590,-0.250503,-0.198169,0.027738,1.000000

### Exporting the cleaned csv file

In [12]:
nonnull_allstate_df.to_csv("clean_allstatedata.csv", encoding = "utf-8")